cachetools==5.5.2
colorama==0.4.6
datamate==1.0.0
ffmpeg==1.4
google_api_python_client==2.169.0
hydra-core==1.3.2
ipython==8.12.3
joblib==1.4.2
matplotlib==3.10.1
nbformat==5.10.4
networkx==3.4.2
numpy==2.2.5
omegaconf==2.3.0
pandas==2.2.3
papermill==2.6.0
Pillow==11.2.1
pytest==8.3.5
python-dotenv==1.1.0
pytz==2024.1
PyYAML==6.0.1
PyYAML==6.0.2
scikit_learn==1.6.1
scipy==1.15.2
toolz==1.0.0
torch==2.7.0
torchvision==0.22.0
tqdm==4.67.1
typing_extensions==4.13.2
umap==0.1.1
xarray==2025.4.0
